[MAIN]
disable=
    too-few-public-methods,
    unnecessary-ellipsis,
    duplicate-code,
    unused-argument,
extension-pkg-allow-list=
    pydantic,

[FORMAT]
max-line-length=99

[TYPECHECK]
ignored-classes=scoped_session
